@charset "UTF-8";

/*em HTML é id = em CSS é # (só ode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(224, 255, 224);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(1, 194, 1);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(51, 77, 49);
}

.basico{
    
    color: rgb(7, 145, 0);
    font-weight: bold;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}

.destaque {
    background-color: #80793c;
}